In [11]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [12]:
# Read the CSV files into DataFrames.
df_2020 = pd.read_csv("resources/athletic_sales_2020.csv")
df_2021 = pd.read_csv("resources/athletic_sales_2021.csv")

In [13]:
# Display the 2020 sales DataFrame
print (df_2020)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]

In [14]:
# Display the 2021 sales DataFrame
print (df_2021)

         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [15]:
# Check the 2020 sales data types.

print(df_2020.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [16]:
# Check the 2021 sales data types.

print(df_2021.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [17]:
# Combine the 2020 and 2021 sales DataFrames on the rows
combined_df = pd.concat([df_2020, df_2021], ignore_index=True)

# Reset the index
combined_df.reset_index(drop=True, inplace=True)

In [18]:
# Check if any values are null.
print(combined_df.isnull().any())

retailer            False
retailer_id         False
invoice_date        False
region              False
state               False
city                False
product             False
price_per_unit      False
units_sold          False
total_sales         False
operating_profit    False
sales_method        False
dtype: bool

In [19]:
# Check the data type of each column
print(combined_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [23]:
# Convert the "invoice_date" to a datetime datatype
combined_df["invoice_date"] = pd.to_datetime(combined_df["invoice_date"], format="%Y-%m-%d")

In [28]:
# Confirm that the "invoice_date" data type has been changed
print(combined_df.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [39]:
# Group by region, state, and city and sum the number of products sold
product_sales_by_location = combined_df.groupby(["region", "state", "city"])["units_sold"].sum().reset_index()

# Rename the sum to "Total_Products_Sold"
product_sales_by_location.rename(columns={"units_sold": "Total_Products_Sold"}, inplace=True)

# Show the top 5 results
top_5_results = product_sales_by_location.head(5)
print(top_5_results)

    region     state          city  Total_Products_Sold
0  Midwest  Illinois       Chicago                25407
1  Midwest   Indiana  Indianapolis                26332
2  Midwest      Iowa    Des Moines                23446
3  Midwest    Kansas       Wichita                29463
4  Midwest  Michigan       Detroit                50095

#### Using `pivot_table`

In [40]:
# Group by region, state, and city and sum the number of products sold
product_sales_by_location = combined_df.groupby(["region", "state", "city"])["units_sold"].sum().reset_index()

# Rename the "units_sold" column to "Total_Products_Sold"
product_sales_by_location.rename(columns={"units_sold": "Total_Products_Sold"}, inplace=True)

# Show the top 5 results
top_5_results = product_sales_by_location.head(5)
print(top_5_results)

    region     state          city  Total_Products_Sold
0  Midwest  Illinois       Chicago                25407
1  Midwest   Indiana  Indianapolis                26332
2  Midwest      Iowa    Des Moines                23446
3  Midwest    Kansas       Wichita                29463
4  Midwest  Michigan       Detroit                50095

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [41]:
# Group by region, state, and city and sum the total sales
total_sales_by_location = combined_df.groupby(["region", "state", "city"])["total_sales"].sum().reset_index()

# Rename the "total_sales" column to "Total Sales"
total_sales_by_location.rename(columns={"total_sales": "Total Sales"}, inplace=True)

# Show the top 5 results
top_5_results = total_sales_by_location.head(5)
print(top_5_results)

    region     state          city  Total Sales
0  Midwest  Illinois       Chicago      9797488
1  Midwest   Indiana  Indianapolis      8836198
2  Midwest      Iowa    Des Moines      7424011
3  Midwest    Kansas       Wichita      9972864
4  Midwest  Michigan       Detroit     18625433

#### Using `pivot_table`

In [42]:
# Group by region, state, and city and sum the total sales
sales_by_location = combined_df.groupby(["region", "state", "city"])["total_sales"].sum().reset_index()

# Optionally rename the "total_sales" column to "Total Sales"
sales_by_location.rename(columns={"total_sales": "Total Sales"}, inplace=True)

# Show the top 5 results
top_5_results = sales_by_location.head(5)
print(top_5_results)

    region     state          city  Total Sales
0  Midwest  Illinois       Chicago      9797488
1  Midwest   Indiana  Indianapolis      8836198
2  Midwest      Iowa    Des Moines      7424011
3  Midwest    Kansas       Wichita      9972864
4  Midwest  Michigan       Detroit     18625433

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [43]:
# Group by retailer, region, state, and city and sum the total sales
sales_by_location_and_retailer = combined_df.groupby(["retailer", "region", "state", "city"])["total_sales"].sum().reset_index()

# Rename the "total_sales" column to "Total Sales"
sales_by_location_and_retailer.rename(columns={"total_sales": "Total Sales"}, inplace=True)

# Show the top 5 results
top_5_results = sales_by_location_and_retailer.head(5)
print(top_5_results)

  retailer     region          state        city  Total Sales
0   Amazon    Midwest           Ohio    Columbus     16835873
1   Amazon  Northeast          Maine    Portland      8611395
2   Amazon  Northeast  Massachusetts      Boston      4193590
3   Amazon  Northeast  New Hampshire  Manchester     10077142
4   Amazon  Northeast        Vermont  Burlington     13380463

#### Using `pivot_table`

In [44]:
# Group by retailer, region, state, and city and sum the total sales
sales_by_location_and_retailer = combined_df.groupby(["retailer", "region", "state", "city"])["total_sales"].sum().reset_index()

# Optionally rename the "total_sales" column to "Total Sales"
sales_by_location_and_retailer.rename(columns={"total_sales": "Total Sales"}, inplace=True)

# Show the top 5 results
top_5_results = sales_by_location_and_retailer.head(5)
print(top_5_results)

  retailer     region          state        city  Total Sales
0   Amazon    Midwest           Ohio    Columbus     16835873
1   Amazon  Northeast          Maine    Portland      8611395
2   Amazon  Northeast  Massachusetts      Boston      4193590
3   Amazon  Northeast  New Hampshire  Manchester     10077142
4   Amazon  Northeast        Vermont  Burlington     13380463

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [52]:
# Filter the sales data to get the women's street footwear sales data
womens_street_footwear_sales = combined_df[combined_df['product'] == "Women's Street Footwear"]

# Display the filtered sales data
print(womens_street_footwear_sales)

         retailer  retailer_id invoice_date     region         state  \
14    Foot Locker      1185732   2020-01-03  Northeast      New York
15    Foot Locker      1185732   2020-01-03  Northeast      New York
17    Foot Locker      1185732   2020-01-03  Northeast      New York
18      West Gear      1128299   2020-01-04  Northeast  Pennsylvania
19      West Gear      1128299   2020-01-04  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9628  Foot Locker      1185732   2021-12-29  Northeast  Pennsylvania
9629       Amazon      1185732   2021-12-29  Northeast         Maine
9630  Foot Locker      1185732   2021-12-29  Northeast  Pennsylvania
9631       Amazon      1185732   2021-12-29  Northeast         Maine
9632  Foot Locker      1185732   2021-12-29  Northeast  Pennsylvania

              city                  product  price_per_unit  units_sold  \
14        New York  Women's Street Footwear              32         350
15        New York  Women's Street Footwear              40        1000
17        New York  Women's Street Footwear              36         250
18    Philadelphia  Women's Street Footwear              36         140
19    Philadelphia  Women's Street Footwear              41         117
...            ...                      ...             ...         ...
9628  Philadelphia  Women's Street Footwear              55          65
9629      Portland  Women's Street Footwear              45         150
9630  Philadelphia  Women's Street Footwear              60         225
9631      Portland  Women's Street Footwear              41          38
9632  Philadelphia  Women's Street Footwear              44          79

      total_sales  operating_profit sales_method
14          11200           4144.00       Outlet
15         400000         140000.00     In-store
17           9000           4140.00       Online
18           5040           2368.80       Outlet
19           4797           2590.38       Online
...           ...               ...          ...
9628         3575           1894.75       Online
9629        67500          27000.00       Outlet
9630       135000          54000.00       Outlet
9631         1558            856.90       Online
9632         3476           1529.44       Outlet

[1608 rows x 12 columns]

#### Using `groupby`

In [53]:
# Filter the sales data to get the women's street footwear sales data
womens_street_footwear_sales = combined_df[combined_df['product'] == "Women's Street Footwear"]

# Group by retailer, region, state, and city and sum the number of women's street footwear sold
womens_street_footwear_sales_by_location = womens_street_footwear_sales.groupby(["retailer", "region", "state", "city"])["units_sold"].sum().reset_index()

# Rename the "units_sold" column to "Womens_Street_Footwear_Units_Sold"
womens_street_footwear_sales_by_location.rename(columns={"units_sold": "Womens_Street_Footwear_Units_Sold"}, inplace=True)

# Show the top 5 results
top_5_results = womens_street_footwear_sales_by_location.head(5)
print(top_5_results)

  retailer     region          state        city  \
0   Amazon    Midwest           Ohio    Columbus
1   Amazon  Northeast          Maine    Portland
2   Amazon  Northeast  Massachusetts      Boston
3   Amazon  Northeast  New Hampshire  Manchester
4   Amazon  Northeast        Vermont  Burlington

   Womens_Street_Footwear_Units_Sold
0                               6281
1                               2679
2                               1980
3                               3562
4                               5195

#### Using `pivot_table`

In [55]:
# Filter the sales data to get the women's street footwear sales data
womens_street_footwear_sales = combined_df[combined_df['product'] == "Women's Street Footwear"]

# Group by retailer, region, state, and city and sum the number of women's street footwear sold
womens_street_footwear_sales_by_location = womens_street_footwear_sales.groupby(["retailer", "region", "state", "city"])["units_sold"].sum().reset_index()

# Rename the "units_sold" column to "Womens_Street_Footwear_Units_Sold"
womens_street_footwear_sales_by_location.rename(columns={"units_sold": "Womens_Street_Footwear_Units_Sold"}, inplace=True)

# Show the top 5 results
top_5_results = womens_street_footwear_sales_by_location.head(5)
print(top_5_results)

  retailer     region          state        city  \
0   Amazon    Midwest           Ohio    Columbus
1   Amazon  Northeast          Maine    Portland
2   Amazon  Northeast  Massachusetts      Boston
3   Amazon  Northeast  New Hampshire  Manchester
4   Amazon  Northeast        Vermont  Burlington

   Womens_Street_Footwear_Units_Sold
0                               6281
1                               2679
2                               1980
3                               3562
4                               5195

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [56]:
# Create a pivot table with 'invoice_date' as index and 'total_sales' as values
pivot_table = combined_df.pivot_table(index='invoice_date', values='total_sales', aggfunc='sum')

# Optionally rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={"total_sales": "Total Sales"}, inplace=True)

# Show the table
print(pivot_table)

              Total Sales
invoice_date
2020-01-01         845141
2020-01-02         689410
2020-01-03         632573
2020-01-04         615080
2020-01-05         707829
...                   ...
2021-12-27         602353
2021-12-28         301010
2021-12-29         211109
2021-12-30         167903
2021-12-31         198659

[723 rows x 1 columns]

In [57]:
# Resample the pivot table into daily bins and get the total sales for each day
daily_sales = pivot_table.resample('D').sum()

# Sort the resampled pivot table in ascending order on "Total Sales"
daily_sales_sorted = daily_sales.sort_values(by="Total Sales", ascending=True)

# Show the sorted resampled pivot table
print(daily_sales_sorted)

              Total Sales
invoice_date
2020-12-31              0
2020-10-11              0
2020-10-12              0
2020-10-13              0
2020-10-14              0
...                   ...
2021-07-23        7689134
2021-08-17        9517031
2021-06-17       10239903
2021-12-16       10871121
2021-07-16       12261098

[731 rows x 1 columns]

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [58]:
# Resample the pivot table into weekly bins and get the total sales for each week
weekly_sales = pivot_table.resample('W').sum()

# Sort the resampled pivot table in ascending order on "Total Sales"
weekly_sales_sorted = weekly_sales.sort_values(by="Total Sales", ascending=True)

# Show the sorted resampled pivot table
print(weekly_sales_sorted)

              Total Sales
invoice_date
2020-10-18         251468
2020-12-13         466322
2020-12-20         590227
2020-12-06         739673
2020-11-22         927605
...                   ...
2021-08-22       22225401
2021-12-12       23250286
2021-12-19       24698535
2021-07-18       24731702
2021-07-11       26271380

[105 rows x 1 columns]